@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:wght@500&display=swap&effect=anaglyph');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    color: ghostwhite;
}

a{
    text-decoration: none;
}


/*#FBFACD*/
.body{
    width: 100%;
    height: 100vh;
    background-color:	black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 800px 75px;
}


nav{
    display: flex;
    justify-content: center;
    padding: 30px 100px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 50px;
}

/*#1d1d24*/
nav ul li a{
    color: ghostwhite ;
    position: relative;
    padding: 5px 0;
    font-family: 'Source Code Pro', monospace;
}
/*palevioletred*/

nav ul li a:hover{
    color: #ECEC1B
}

nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #ECEC1B;
    transition: .3s;
    bottom: 0;
}

nav ul li a:hover:after{
    width: 100%;
}

/*Home Page */
.HomePage{
    position: absolute;
    top: 35%;
    left: 8%;
}

.HomePage .Title{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
}


h1 {
    color: ghostwhite;
    font-size: 60px;
    font-weight: 600;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}

/*#F7FD04*/
h1 span{
    color: #ECEC1B;
}

.HomePage p{
    width: 55%;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 18px;
}

.img_right{
  display: inline;
  object-fit: scale down;
  marginwidth=left: 200px;

}


/* About Page */
.AboutPage h1{
    padding-bottom: 20px;
}

.AboutPage .name{
    color: #ECEC1B;
}

.AboutPage p{
    font-size: 18px;
    margin-left: 30px;
    margin-right: 50px;
    line-height: 1.5;
    text-indent: 20px;
}

.AboutPage .fastFacts{
    margin-left: 20px;
}

.AboutPage .email{
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.5;
    position:absolute;
    padding: 20px 20px 20px 20px;
}

/*Contact Page */
.ContactPage h1{
    line-height: 1.5;
    text-decoration-line: underline;
    text-decoration-color: #ECEC1B;
    text-align: center;
    padding-bottom: 20px;
}

.ContactPage p{
    line-height: 1.5;
    text-align: center;
}

/*Resume */
