*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    color: ghostwhite;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 800px 75px;
}
